@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;

  font-family: 'Montserrat', 'Poppins', 'Nunito', Arial, sans-serif;
  font-style: normal;
}

/* ========== CUSTOM SCROLLBAR ========== */
/* width */
::-webkit-scrollbar {
  width: 7.5px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3D3473; 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3D3473; 
}
